################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CaseProject/.vs/CaseProject/v15/Server/sqlite3
